<!DOCTYPE html>
<html>
    
<head>
    <title>PDF</title>
    <style>
        table {
            width: 300px;
            height: auto;
            border:"1";
            text-align: left;
        }
    </style>
</head>

<body>
    <p>{{ output }}</p>
</body>

</html>